@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.error-message {
  @include flex-shorthand(column, nowrap, 5rem, center, center);

  &__body {
    @include flex-shorthand(column, nowrap, 2.5rem, center, center);
  }

  &__heading {
    font: $font-weight-bold 5rem $font-family-nunito-sans;
    text-align: center;
  }

  &__description {
    max-inline-size: 40rem;
    font-size: 2rem;
    text-align: center;
  }

  &__icon {
    @include max-size-shorthand(10rem, 10rem);
  }

  @include media-up-shorthand(tablet-l) {
    &__heading {
      font-size: 7rem;
    }

    &__description {
      max-inline-size: 50rem;
      font-size: 2.5rem;
    }

    &__icon {
      @include max-size-shorthand(12rem, 12rem);
    }
  }
}
