@use "../../styles/tools" as *;

.main {
  @include themify {
    @include color-shorthand(themed("color-gray"), themed("color-main"));
  }

  flex: auto;
  padding: 2.4rem 1.6rem;

  &--page-loading,
  &--page-error {
    @include flex-shorthand(row, nowrap, null, center, center);

    padding: 2rem;
  }

  &--page-country-details {
    @include flex-shorthand(column, nowrap, 6.1rem);

    padding: 4rem 2.75rem;
  }

  @include media-up-shorthand(tablet-l) {
    padding: 4.8rem 8rem;

    &--page-country-details {
      gap: 8rem;
      padding: 8rem;
    }
  }
}
