@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.header {
  @include flex-shorthand(row, nowrap, null, center, space-between);
  @include themify {
    @include color-shorthand(themed("color-gray"), themed("color-accent"));
  }

  position: relative;
  padding: 3.05rem 1.6rem;
  box-shadow: 0 0 0.5rem rgba($very-dark-blue, 15%);

  &__heading {
    font: $font-weight-bold 1.4rem $font-family-nunito-sans;
    cursor: default;
  }
}
