/* ==========================================================================
   Common:
   ========================================================================== */

/* Dark Mode Text & Light Mode Elements */
$white: #fff;

/* ==========================================================================
   Dark Mode:
   ========================================================================== */

/* Elements */
$dark-blue: #2b3945;

/* Background */
$darker-blue: #202c37;

/* ==========================================================================
   Light Mode:
   ========================================================================== */

/* Text */
$very-dark-blue: #111517;

/* Input */
$dark-gray: #858585;

/* Background */
$very-light-gray: #fafafa;
