@use "./colors" as *;

$themes: (
  dark: (
    color-main: $darker-blue,
    color-accent: $dark-blue,
    color-gray: $white,
    color-input: $white,
  ),

  light: (
    color-main: $very-light-gray,
    color-accent: $white,
    color-gray: $very-dark-blue,
    color-input: $dark-gray,
  ),
);
