/* ==========================================================================
   Font Families:
   ========================================================================== */

/* Nunito Sans */
$font-family-nunito-sans: "Nunito Sans", sans-serif;

/* ==========================================================================
   Font Weights:
   ========================================================================== */

/* Regular */
$font-weight-regular: 300;

/* Semi-Bold */
$font-weight-semi-bold: 600;

/* Bold */
$font-weight-bold: 800;

/* ==========================================================================
   Font Sizes:
   ========================================================================== */

/*  Homepage Items */
$font-size-homepage-item: 1.4rem;

/*  Detail Page */
$font-size-detail-page: 1.6rem;
