@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.country-card {
  @include flex-shorthand(column, nowrap, 1rem);
  @include themify {
    @include color-shorthand(themed("color-gray"), themed("color-accent"));
  }

  max-inline-size: 26.4rem;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 1rem rgba($very-dark-blue, 8%);

  &__flag {
    inline-size: 26.4rem;
    block-size: 16rem;
  }

  &__body {
    @include flex-shorthand(column, nowrap, 1.6rem);

    padding: 1.5rem 2.5rem 4.3rem;
  }

  &__name {
    font: $font-weight-bold 1.8rem $font-family-nunito-sans;
  }

  &__description-list {
    @include remove-list-styles;
    @include flex-shorthand(column, nowrap, 0.35rem);
  }

  &__description {
    font-size: 1.35rem;

    strong {
      font-weight: $font-weight-semi-bold;
    }
  }
}
