@use "../settings" as *;
@use "../tools" as *;

html {
  font-size: 62.5%;

  @include media-up-shorthand(mobile-l) {
    font-size: 65.5%;
  }

  @include media-up-shorthand(tablet-l) {
    font-size: 62.5%;
  }

  @include media-up-shorthand(desktop) {
    font-size: calc(35.5% + 0.3vi);
  }
}

body {
  font: $font-weight-regular 1.6rem / 1.5 $font-family-nunito-sans;
}

a:link,
a:visited {
  inline-size: fit-content;
  text-decoration: none;
}
